* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

body {
    background-image: url("../img/fundo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    color: #fff;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    flex-direction: column; 
}

.card {
    background-color: #000000de;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #000000de;
    width: 400px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #d80303
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #d80303;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    color: #fff;

}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #fff;
}

.label-float input:focus {
    border-bottom: 2px solid #d80303;
    color: #fff;
}

.label-float label {
    color: #d80303;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    color: #fff;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #d80303
}

button {
    background-color: transparent;
    border-color: #d80303;
    color: #d80303;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;

}

button:hover {
    background-color: #d80303;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #d80303;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.label-float-s input {
    width: 100%;
    padding: 10px 1px;
    margin-top: 8px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #d80303;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    color: #fff;

}

.Final {
    color: #d80303;
}

